* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
body {
  padding: 0;
  margin: 0;
}
h3 {
  padding: 0;
  margin: 0;
  font-size: 30px;
}
.header {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}
.color-picker {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.color-picker * {
  height: 20px;
  width: 20px;
  background-color: white;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
}
#aqua {
  background-color: aqua;
}
#blue {
  background-color: blue;
}
#black {
  background-color: rgb(7, 7, 7);
}
.calWrapper {
  background-color: aqua;
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: 50px minmax(100px, auto) repeat(5, 75px);
}
.display {
  background-color: black;
  color: white;
  grid-column: 1/5;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.5rem;
  overflow: hidden;
}
.current,
.previous {
  font-weight: 600;
  height: 100%;
  justify-items: flex-end;
  padding: 0.5rem 0;
  outline: none;
}
.current {
  font-size: x-large;
  font-weight: bold;
}
.span-two {
  grid-column: span 2;
}

button {
  font-size: 25px;
  font-weight: bold;
  /* background-color: ; */
}
